*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* NavBar styles */

#btn-svg{
    width: 20px;
}

header{
    /* display: flex; */
    position: relative;
    /* border: 1px solid red; */
}

#bars{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    /* z-index: 1; */
}

#cross{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

.nav-logo{
    /* border: 1px solid red; */
    padding: 1.2rem;
}

.nav-logo a{
    color: black;
    /* text-decoration: none; */
}

nav{
    display: flex;
    /* border: 1px solid red; */
    margin-left: auto;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    flex-direction: column;
    position: fixed;
    inset: 0;
    background-color: rgb(213, 184, 184);
    z-index: 1;

}

.responsive-menu{
    visibility: visible;
}

nav li{
    padding: 10px;
    list-style: none;
    font-size: 2rem;
    /* border-bottom: 2px solid black; */
}

nav li a{
    color: #000;
    text-decoration: none;
}

.menu-bar{
    background: transparent;
    border: none;
    outline: none;
}

/* breakpoints for the desktop screens */

@media only screen and (min-width:768px) {
    header{
        display: flex;
    }

    .menu-bar{
        visibility: hidden;
    }

    nav{
        display: flex;
        visibility: visible;
        position: initial;
        background-color: white;
        flex-direction: row;
    }

    nav li{
        font-size: initial;
    }
}

/* Home page styles */

/* Hero section styles */

.hero{
    /* border: 2px solid greenyellow; */
    padding: 0 1rem 2rem;
}

.hero > .hero-content{
    display: grid;
    text-align: justify;
    margin-top: 8.5rem;
    /* border: 1px blue solid; */
    gap: 1.5rem;
}

.hero-content > h1{
    font-size: 2.5rem;
    font-weight: 800;
}

#hero-btn{
    width: 65%;
    font-size: 1.5rem;
    padding: 1.05rem;
    color: black;
}

#hero-btn > a{
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* breakpoint for hero section */
@media only screen and (min-width:768px) {
    #hero-btn{
        width: 25%;
    }
}

/* Featured blog section on the home page */

.featured-blogs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid red;
    width: 100%;
    padding: 2rem;
    /* grid-template-columns: auto auto;
    grid-row: auto auto;
    gap: 10px; */
}

.blog-card{
    border: 1px solid yellow;
    width: 90%;
    max-width: 450px;
    height: 100%;
}

.image-featured{
    border: 1px solid blue;
    width: 100%;
    background-color: red;
    min-height: 10rem;
    
}

#title-svg{
    object-fit: cover;
    /* width: 100%; */
}

@media only screen and (min-width: 768px) {

    .featured-blogs{
        display: grid;
        grid-template-columns: auto auto;
        grid-row: auto auto;
        gap: 10px;
    }
    
}